<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.verNANDo57.rulebook_educational.extradata">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		tools:ignore="ScopedStorage" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
		tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:name="com.verNANDo57.rulebook_educational.AppRulebookClass"
        android:theme="@style/AppThemeRulebook"
		android:icon="@drawable/ic_launcher" 
		android:roundIcon="@drawable/ic_launcher_round"
		android:fullBackupContent="true"
		android:supportsRtl="true"
		android:requestLegacyExternalStorage="true"
		tools:targetApi="q"
		android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation">
		<activity
            android:name="com.verNANDo57.rulebook_educational.SplashScreenActivity"
            android:label="@string/app_name"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation"
			android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<meta-data
				android:name="android.app.shortcuts"
				android:resource="@xml/shortcuts" />
		</activity>
	<!-- Main  -->
    <activity
            android:name="com.verNANDo57.rulebook_educational.MainActivity"
            android:label="@string/app_name_mainactivity"
	     	android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation" />

		<activity
			android:name="com.verNANDo57.rulebook_educational.AppSectionSelectionActivity"
			android:label="@string/app_name_chooseyourdestiny"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation"/>

		<activity
			android:name="com.verNANDo57.rulebook_educational.rules.mainrules.AppMainRulesActivity"
			android:label="@string/app_name_mainrules"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation" />

		<activity
			android:name="com.verNANDo57.rulebook_educational.rules.AppBaseScrollableActivity"
			android:label="@string/app_name_mainrules"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation"/>

		<activity
			android:name="com.verNANDo57.rulebook_educational.rules.AppRulesInSchemesAndTablesActivity"
			android:label="@string/app_name_schemesandtables"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation" />

		<activity
			android:name="com.verNANDo57.rulebook_educational.rules.AppLexiconActivity"
			android:label="@string/app_name_lexicon"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation" />

		<activity
			android:name="com.verNANDo57.rulebook_educational.rules.AppAnalyzeMethods"
			android:label="@string/app_name_analyze_methods"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation" />

		<activity
			android:name="com.verNANDo57.rulebook_educational.rules.AppDictionaries"
			android:label="@string/app_name_dictionaries"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation" />

		<activity
			android:name="com.verNANDo57.rulebook_educational.AppAboutApplicationActivity"
			android:label="@string/app_name_credits"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation"/>

		<activity
			android:name="com.verNANDo57.rulebook_educational.search.AppSearchActivity"
			android:label="@string/app_name_search"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation"/>

		<activity
			android:name="com.verNANDo57.rulebook_educational.bookmarks.AppBookmarksActivity"
			android:label="@string/app_bookmarks"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation"/>

		<!-- EndOfMain  -->

		<activity
			android:name="com.verNANDo57.rulebook_educational.AppRatingActivity"
			android:label="@string/app_name_rating"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation" />

        <activity
			android:name="com.verNANDo57.rulebook_educational.preferences.AppSettingsActivity"
			android:label="@string/app_name_settings"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation" />

		<activity
			android:name="com.verNANDo57.rulebook_educational.customthemeengine.prefs.CustomThemeEngineThemePickerActivity"
			android:label="@string/label_theme_picker"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation"/>

		<activity
			android:name="com.verNANDo57.rulebook_educational.customthemeengine.prefs.CustomThemeEngineSettingsActivity"
			android:label="@string/label_theme_picker"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation"/>

	</application>
</manifest>
